.B{
    display: grid;
   grid-template-columns: auto auto ;

}
.C{
    text-align: center;
}
.D{
    text-align: center;
    font-size: xx-large;
    color: gray;
}
.E{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
}
.F{
    display:flex;
    justify-content: space-between;
}
.G{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}